<!--<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="two wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Sitemap</a>
          <a href="#" class="item">FAQ</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Academic Tracker {{ currentYear }}</h4>
        <em>Contact information:</em> <a href="mailto:jbaylacc@gmail.com">
  jbaylacc@gmail.com</a>
      </div>
    </div>
  </div>
</div>-->
